langchain
python-dotenv
ipykernel
langchain-community
pypdf
bs4
streamlit
faiss-cpu
langchainhub
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
langchain_core
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_huggingface
langchain_chroma
langserve
sse_starlette
huggingface_hub
duckdb
pandas
openai
flask
langchain-groq
duckduckgo_search==5.3.1b1
gradio
pymupdf
arxiv
wikipedia
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
uvicorn
fastapi
numexpr
huggingface_hub